doctype
html(lang='en')
  head
    title BU Starter Kit
  body
    div#app
      != markup
    script(id='__STATE__', type='application/json')
      != state
    script(type='text/javascript', src=resourcePath + 'bundle.js')
